.expenses-filter {
    color: rgba(56, 14, 14, 0.808);
    padding: 0 1rem;
  }
  
  .expenses-filter__control {
 
    width: 100%;
    align-items: left;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }