#currecy {
  margin-top: 50px;
    margin-left: auto; 
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  #currecy td, #currecy th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #currecy tr:nth-child(even){background-color: #e2ebdf;}
  
  #currecy tr:hover {background-color: #ddd;}
  
  #currecy th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .b1 {
    position: absolute;
    left: 120px;
    top: 125px;
    background-color: #dbe2db; 
    transition-duration: 0.4s;
  }

  .b2 {
    position: absolute;
    left:250px;
    top: 125px;
    background-color: #dbe2db; 
    transition-duration: 0.4s;
  }
  
  .b1:hover, .b2:hover{
    background-color: #636d63; /* Green */
    color: rgb(255, 255, 255);
  }